@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	position: relative;
	touch-action: manipulation;
	background: white;
}

.list {
	position: relative;
	z-index: 1;
	height: 100%;
}

.list-item {
	padding: 8px 0;
	margin: 0 14px;
	box-sizing: border-box;
}

.button {
	appearance: none;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	&:active {
		outline: none;
	}
}

.prev,
.next {
	top: 50%;
	transform: translateY(-50%);
}

.name {
	font-size: 14px;
	padding: 0 4px;
}

.indicator {
	position: absolute;
	z-index: 1;
	height: 2px;
	background: $orange;

	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
	}

	&.transition {
		transition: width .3s $principleDefaultEase, transform .3s $principleDefaultEase;
	}

	&.triangle {
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0px;
		    height: 0px;
		    border-left: 8px solid transparent;
    		border-right: 8px solid transparent;
   	 		border-top: 8px solid $orange;
   	 		transform: translateX(-50%);
		}
	}
}

.track {
	position: absolute;
	z-index: 0;
	width: 100%;
	left: 0;
	height: 1px;
	background: $border-grey;

	&.top {
		top: 0;
	}

	&.bottom {
		bottom: 0;
	}
}
