@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	width: 100%;
}

.image {
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 15px;

	&.round {
		border-radius: 50px;
	}
}
