@import 'styles/_colors.scss';

.input {
	caret-color: $orange;
	font-size: 14px;
	font-family: 'knowledge-regular', sans-serif;
	-webkit-font-smoothing: antialiased;
	border: none;
	outline: none;
	padding: 0;

	&::placeholder {
		color: inherit;
		font: inherit;
		opacity: 0.5;
	}
}

.orange {
	color: $orange;
}

.grey {
	color: $small-text-grey;
}

.black {
	color: $almost-black;
}

.white {
	color: white;
}
