@import 'styles/_colors.scss';

.container {
	white-space: nowrap;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	appearance: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;

	& + .icon {
		border-left: none;
	}

	&.borderless {
		border: none;
	}
}

[dir="rtl"] #{&} {
	.icon {
		& + .icon {
			border-right: none;
			border-left: 1px solid rgba($text-grey, .15);
		}
	}
}

.always-grey,
.GREY-to-original {
	svg path {
		fill: $text-grey;
	}

	border-color: rgba($text-grey, .15);
}

.always-white,
.white-to-original,
.white-to-orange {
	svg path {
		fill: white;
	}

	border-color: rgba(white, .15);
}

.GREY-to-original:hover,
.white-to-original:hover {
	&.twitter svg path {
		fill: #1da1f2;
	}

	&.facebook svg path {
		fill: #3B5998;
	}

	&.youtube svg path {
		fill: #ff0000;
	}

	&.rss svg path {
		fill: #f26522;
	}

	&.linkedin svg path {
		fill: #0077b5;
	}

	&.instagram svg path {
		fill: #c13584;
	}

	&.email svg path,
	&.link svg path {
		fill: $light-orange;
	}
}

.white-to-orange:hover {
	svg path {
		fill: $light-orange;
	}
}

svg {
	.twitter & {
		height: 14px;
	}

	.facebook & {
		height: 14px;
	}

	.youtube & {
		height: 10px;
	}

	.rss & {
		height: 12px;
	}

	.instagram & {
		height: 14px;
	}

	.linkedin & {
		height: 12px;
	}

	.email & {
		height: 14px;
	}

	.link & {
		height: 14px;
	}
}
