@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.75);
}

.inner {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	width: 100vw;
    height: 100vh;
}
