@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	padding: 0 20px;
    width: 100%;
    z-index: 2;

	@include for-tablet-landscape-up {
		padding: 0 60px;
		top: 0;
    	left: 0;
	}

	&.absolute {
		position: absolute;
	}

	&.fixed {
		position: fixed;
	}

	&.gradient {
		background: linear-gradient(#000 30%, rgba(0, 0, 0, 0) 100%);
	}

	&.dark-mode {
		a {
			color: $white !important;
		}
	}
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;

	@include for-tablet-portrait-up {
		&.nav-left {

			.nav {
				margin-top: 0;
			}
		}

		&.nav-right {

			.nav {
				margin-top: 0;
			}
		}
	}
	
}

// Nav
.logo {
	width: 110px;

	&.logo-only {
		width: 75px;
	}
}

.nav {
	margin-top: 20px;
	display: none;

	@include for-tablet-portrait-up {
		display: block;
		margin-top: 20px;
	}

	li {
		font-size: 16px;
		display: inline-block;

		@include for-tablet-portrait-up {
			font-size: 16px;
		}

		&:not(:last-child) {
			margin-right: 15px;

			@include for-tablet-portrait-up {
				margin-right: 35px;
			}
		}

		&:hover,
		&.active {
			a {
				color: $red;
			}

			.underline {
				width: 100%;
			}
		}

		// .underline {
		// 	width: 0;
		// 	height: 2px;
		// 	background: $black;
		// 	margin: 0 auto;
		// 	transition: all .25s $easeInOut;
		// }
	}
}

// Mobile Menu
.menu-container {
	display: block;

	@include for-tablet-portrait-up {
		display: none;
	}

	.button {
		width: 34px;
	    height: 34px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    background: none;
	}

	ul.menu {
		visibility: hidden;
		opacity: 0;
		margin-top: 10px;
		padding: 12px 10px;
		position: absolute;
		right: 0;
		background: rgba(0,0,0,.75);
   		transition: all .25s $easeInOut;

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}

	li {
		font-size: 16px;
		color: $white;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		a {
			color: $white;
		}
	}
}