@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	min-width: 25px;
	min-height: 25px;
}

.logo {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 50px;
	min-height: 50px;
}