@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {

    &.box-shadow {
        border-radius: 6px;
        box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .15);
        padding: 15px 15px;
    }
}

.title {
    margin-bottom: 10px;
}

.icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    width: 75%;
    text-align: center;
    padding-bottom: 15px;
}

.icon {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $darkgrey;
}

.label {
    padding-top: 10px;
}