@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	width: 100%;
	background: $blacker;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	@include for-tablet-portrait-up {
		justify-content: center;
		background-attachment: fixed;
	}

	&.justify-top {
		justify-content: flex-start;

		.title-container {
			padding-top: 20px;

			@include for-tablet-portrait-up {
				padding-top: 40px;
			}
		}
	}

	&.justify-bottom {
		justify-content: flex-end;

		.title-container {
			padding-bottom: 20px;

			@include for-tablet-portrait-up {
				padding-bottom: 30px;
			}
		}
	}

	&.full {
		min-height: 100vh;
	}

	&.three-quarter {
		min-height: 35vh;

		@include for-tablet-portrait-up {
			min-height: 75vh;
		}
	}

	&.half {
		min-height: 35vh;

		@include for-tablet-portrait-up {
			min-height: 50vh;
		}
	}

	&.auto {
		min-height: auto;
	}
}

.title-container {
	width: 100%;
	text-align: center;

	&.border {
		border: 1px solid $white;
		padding: 18px 20px;
	}

	&.gradient-top {
		background: linear-gradient(rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
	}

	&.gradient-bottom {
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%);
	}
}

.title-container-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	margin: 0 auto;
	max-width: 1280px;

	&.align-top {
		align-items: flex-start;
	}

	&.align-bottom {
		align-items: flex-end;
	}

	&.left {
		justify-content: flex-start;
	}

	&.right {
		justify-content: flex-end;
	}

	&.logo-top {
		flex-direction: column;
	}
}

.title {
	font-size: 24px;
	line-height: 1.3;
	text-align: center;

	@include for-tablet-portrait-up {
		font-size: 60px;

		&.with-logo {
			font-size: 36px;
		}
	}

	@include for-tablet-landscape-up {
		font-size: 60px;

		&.with-logo {
			font-size: 48px;
		}
	}
}

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50px;

	@include for-tablet-portrait-up {
		width: 125px;
		height: 125px;
		border-radius: 62.5px;
	}

	@include for-tablet-landscape-up {
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}

	&.left {
		margin-right: 10px;
	}

	&.right {
		margin-left: 10px;
	}
}

.buttons-container {
	margin-top: 40px;

	@include for-tablet-portrait-up {
		margin-top: 60px;
	}
}

.button-container {
	text-align: center;

	&:not(:last-child) {
	 	margin: 0 0 40px 0;
	 }

	@include for-tablet-portrait-up {

		&.row {
			display: inline-block;
			&:not(:last-child) {
				margin: 0 30px 0 0;
			}
		}
	}

	a {
		color: $white;
	}
}

.label {
	font-size: 16px;
	color: $white;
}

.button {
	font-size: 18px;
	color: $white;
	cursor: pointer;
	transition: all .25s $easeInOut;

	@include for-tablet-portrait-up {
		font-size: 20px;
	}

	&.border {
		border: 1px solid $white;
		padding: 16px 30px;

		&:hover {
			background: $white;

			a {
				color: $blue;
			}
		}
	}
}

.image-container {
	width: 100%;
	margin-top: 40px;
	box-shadow: 0 0 10px 10px $blackest;
	cursor: pointer;
	transition: all .25 $easeInOut;

	@include for-tablet-portrait-up {
		width: 500px;
		margin-top: 60px;
	}

	&:hover {
		box-shadow: 0 0 10px 15px $blackest;
	}

	img {
		width: 100%;
	}
}

.background-gradient {
	position: absolute;
	width: 100%;
	height: 25%;

	&.top {
		top: 0;
		background: linear-gradient(rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0) 100%);
	}

	&.bottom {
		bottom: 0;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 50%);
	}
}
