@import 'styles/_colors.scss';

.toggle {
	display: block;
	appearance: none;
	outline: none;
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.dropdown-menu {
	position: relative;
}

.dropdown-menu.default {
	border-radius: 2px;
	border: 1px solid $border-gray;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(0, 0, 0, 0.04);
	background-color: white;
}

.caret {
	position: absolute;
	top: -10px;
	width: 20px;
}
