// Reuters Colors
$orange: #F06F21;
$light-orange: #ff9001;
$blue: #128fdd;
$border-gray: #EBEBEB;
$text-gray: #86888B;
$text-med-gray: #ABABAB;
$text-light-gray: #C3C4C5;
$text-black: #3f3f40;
$circle-gray: #e5e5e5;
$dark-gray: #9a9a9a;
$background-gray: #e6e6e6;
$placeholder: #FAFAFA;
$almost-black: #313132;
$almost-black-darker: #1a1a1a;
$small-text-gray: #717375;
$markets-green: #0D8A0C;
$markets-red: #D80A0A;
$breaking-red: #d62136;
$live-green: #009297;

// Default Colors
$white : #fff;
$offwhite: #eee;
$lightergrey: #aaa;
$lightgrey: #999; 
$bordergrey: #ccc;
$grey: #666; 
$darkgrey: #414141;
$black: #333333;
$blacker: #232323;
$blackest: #000000;

// Project Based Colors
$julia-blue: #02AEEF; // Juila 
$julia-lightblue: #A5DEE4; // Julia
$rgm-red: #9a0101; // RGM
$mb-red: #c1281b; // MartialBase