// Circular TT
@font-face {
	font-family: 'circulartt-black';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-black.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-black-italic';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-black-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-bold';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-bold-italic';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-bold-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-book';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-book.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-book-italic';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-book-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-medium';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'circulartt-medium-italic';
	font-display: fallback;
  	src: url('/styles/fonts/circulartt-medium-italic.ttf') format('truetype');
}

// Avenir
@mixin avenir {
	font-family: 'Avenir', helvetica, arial, sans-serif;	
}

@mixin avenir-light {
	font-family: 'Avenir', helvetica, arial, sans-serif;
	font-weight: lighter;	
}

@mixin avenir-bold {
	font-family: 'Avenir', helvetica, arial, sans-serif;	
	font-weight: bold;
}

//Futura
@mixin futura {
	font-family: 'Futura', helvetica, arial, sans-serif;	
}

@mixin futura-bold {
	font-family: 'Futura', helvetica, arial, sans-serif;
	font-weight: bold;
}

@mixin georgia {
	font-family: 'Georgia', 'Times New Roman', sans-serif;	
}

@mixin georgia-bold {
	font-family: 'Georgia', 'Times New Roman', sans-serif;
	font-weight: bold;
}
